/.quarto/
**/.ipynb_checkpoints

WebBook/_book/
WebLectures/*_files/

**/.quarto/
WebBook/.quarto/_freeze/*

WebBook/.quarto/_freeze/index/execute-results/html.json
WebBook/.quarto/_freeze/index/execute-results/tex.json
